.oscar {
  --peep-head: short3;
  --peep-face: cute;
  --peep-facial-hair: beard1;
  --peep-body: tee-crossed;


}

.diego {
  --peep-head: afro;
  --peep-face: eyes-closed;
  --peep-facial-hair: beard1;
  --peep-body: buttonup1;

}

.juan {
  --peep-head: short5;
  --peep-face: smile;
  --peep-accessory: glasses1;
  --peep-facial-hair: beard2;
  --peep-body: laptop;

}

.roxana {
  --peep-head: long-bangs;
  --peep-face: suspicious;
  --peep-accessory: glasses1;
  --peep-body: tee-selena;
}
