<div class='fixed top-0 z-[-2] h-screen w-screen'>
  <div
    class='fixed inset-0 bg-[radial-gradient(circle_500px_at_50%_200px,#C9EBFF,transparent)] dark:bg-fuchsia-400 dark:bg-[size:20px_20px] dark:opacity-20 dark:blur-[100px]'
  >
  </div>
</div>

<style is:global>
  @media (prefers-color-scheme: dark){
  body {
    @apply bg-;
  }
  }
</style>
