<div class="fixed h-full w-full bg-neutral-900 -z-10 hidden" id="bg-dark">
  <div
    class="absolute inset-0 bg-fuchsia-400 bg-[size:20px_20px] opacity-20 blur-[100px]"
  >
  </div>
</div>

<div
  class="fixed inset-0 -z-10 h-full w-full bg-white bg-[size:6rem_4rem] hidden"
  id="bg-light"
>
  <div
    class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_500px_at_50%_200px,#C9EBFF,transparent)]"
  >
  </div>
</div>
<style is:global>
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-black dark:bg-black;
    }
  }
  @media (prefers-color-scheme: light) {
    body {
      @apply bg-white;
    }
  }
  body {
    @apply bg-white dark:bg-black;
  }
</style>
