---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Sobre nosotros">
  <section>
    <h1>Sobre nosotros</h1>
    <p>
      En esta sección se mostrará información sobre la empresa, su historia, su
      misión, visión, valores, etc.
    </p>
  </section>
</Layout>
