---
import Layout from '@/layouts/Layout.astro'
import { NAMES } from '@/constants/members'
import Peeps from '@/components/Peeps.astro'
import Chip from '@/components/Chip.astro'

const shuffledMemberNames = [...NAMES].sort(() => Math.random() - 0.5)
---

<Layout title="Sobre nosotros">
  <slot name="head">
    <link rel="stylesheet" href="/css-peeps.css" />
  </slot>
  <section class="md:max-w-2xl pt-5 md:mx-auto mx-5 flex flex-col gap-2">
    <article class="mx-4 my-5 md:text-lg">
      <h1 class="text-3xl md:text-4xl py-4 font-semibold">Sobre nosotros</h1>
      <p>
        Légein es la revista de estudiantes de pregrado en Filosofía de la
        Universidad del Valle, ubicada en Cali, Colombia. Nuestra revista es el
        ejercicio del logos; es el decir, es la consigna del pensamiento en la
        palabra que posibilita la resistencia al tiempo. Es un espacio donde los
        estudiantes expresan sus pensamientos y propuestas.
      </p><p class="pt-2">
        Nuestro proyecto se convierte en una plataforma que une diversas voces.
        Todos tenemos voz cuando alguien nos escucha y responde. La revista
        representa tanto la comunidad como el individuo, y su espíritu radica en
        convertir el pensamiento en acción.
      </p>
    </article>
    <article class="mx-4 my-5 md:text-lg">
      <div>
        <span>
          <Chip>Ubicación</Chip>
        </span>
        <p>
          Estamos ubicados en la Universidad del Valle, Edificio D10, Oficina
          3001 (revista Praxis filosófica), Cali-Colombia.
        </p>
      </div>
      <div>
        <span>
          <Chip>Redes Sociales</Chip>
        </span><p>
          Encuéntranos en <a
            href="https://www.instagram.com/revista_legein/"
            target="_blank"
            class="font-bold text-blue-500 leading-loose"
            >Instagram @REVISTA_LEGEIN</a
          >
        </p>
      </div>
      <picture>
        <div
          class="flex justify-center items-center transition-all ease-in-out duration-300 hover:scale-110 mx-auto"
        >
          <a
            href="https://www.instagram.com/revista_legein/"
            target="_blank"
            class="pb-4"
          >
            <img src="ig.webp" alt="Instagram" class="w-40 h-40" />
          </a>
        </div>
      </picture>
      <div>
        <span>
          <Chip>Contacto</Chip>
        </span><p>
          Para cualquier consulta o información, puede contactarnos a través de
          nuestro correo electrónico: <a
            href="mailto:revistalegein@gmail.com"
            target="_blank"
            class="font-bold text-blue-500"
            >revistalegein@gmail.com
          </a>
        </p>
      </div>
    </article>

    <hr class="w-full my-2 border-gray-600" />
    <article class="mx-4 my-5 md:text-lg">
      <h1 class="text-3xl md:text-4xl py-4 font-semibold">Nuestro equipo</h1>
      <p class="md:text-lg">
        Légein es un proyecto que se realiza gracias al esfuerzo y dedicación de
        un grupo de estudiantes de pregrado en Filosofía de la Universidad del
        Valle. A continuación, presentamos a los miembros de nuestro equipo:
      </p>
    </article>
    <picture
      class="flex flex-col lg:flex-row items-center justify-center pb-10"
    >
      {
        shuffledMemberNames.map((name) => (
          <div class="flex flex-col items-center justify-center">
            <Peeps name={name} />
            <h3 class="text-lg text-center md:text-xl font-semibold">
              {name.toLocaleUpperCase()}
            </h3>
          </div>
        ))
      }
    </picture>
    <style>
      article > div {
        @apply flex flex-col md:flex-row gap-2 items-center mx-4;
      }
      article > div > span {
        @apply md:w-1/4 flex items-center justify-center;
      }
      article > div > p {
        @apply w-3/4 mx-2 pb-3 md:pb-0;
      }
    </style>
  </section>
</Layout>
