---
import Layout from '@/layouts/Layout.astro'
import PublishSlider from '@/components/PublishSlider.astro'
---

<Layout title="Publica con nosotros">
  <main class="m-auto max-w-lg">
    <PublishSlider />
  </main>
</Layout>
