<div
  class="flex w-fit h-fit justify-center items-center m-1 px-2 py-1 rounded-full bg-amber-700 text-base text-white font-medium"
>
  <div
    class="flex-initial max-w-full leading-none text-lg font-normal text-center"
  >
    <slot />
  </div>
</div>
