---
import type { Names } from '@/lib/types'
import peeps from '@/styles/peeps.module.css'

interface Props {
  name: Names
}

const { name } = Astro.props
---

<a class={peeps[name]} href="" id={name} data-css-peeps></a>
<style>
  :root {
    --peep-width: 130px;
    --peep-height: 115px;
  }
  a {
    @apply block w-[calc(var(--peep-width)/2)] h-[calc(var(--peep-height)/2)] md:w-[var(--peep-width)] md:h-[var(--peep-width)] bg-transparent transition-all ease-in-out duration-500 pointer-events-none;
  }
</style>
@/lib/types
