<div class="w-96">
  <p class="mb-3 text-xs font-semibold tracking-wider text-gray-500 uppercase">
    Subscríbete a nuestra revista
  </p>
  <form action="#" class="mb-2">
    <div class="flex items-center overflow-hidden border gap-2 border-gray-500">
      <input
        class="w-full px-3 py-1 text-sm leading-normal transition duration-150 ease-in-out bg-gray-300 appearance-none focus:outline-none text-black"
        type="email"
        placeholder="Entra tu correo electrónico"
      />
      <button
        class="w-[40%] text-xs font-medium text-center text-black dark:text-white no-underline"
        type="submit">Subscribirse</button
      >
    </div>
  </form>
</div>
