---
import { Sun, Moon } from '@/components/icons/index.astro'
---

<button
  title="Toggles light & dark"
  aria-label="auto"
  aria-live="polite"
  transition:persist
>
  <Sun /><Moon />
</button>

<style>
  button {
    @apply p-3 sm:p-1;
  }
</style>

<script>
  import { ThemeController } from '@/lib/theme/controller/index'

  const controller = new ThemeController()

  controller.toggleTheme()
</script>
