---
import { Sun, Moon } from '@/components/icons/index.astro'
---

<button
  id="theme-btn"
  title="Toggles light & dark"
  aria-label="auto"
  aria-live="polite"
  transition:persist
>
  <Sun /><Moon />
</button>

<script>
  import { toggleTheme } from '@/utils/toggleTheme'

  toggleTheme()
</script>
