---
import Navbar from '@/components/Navbar.astro'
import Footer from '@/components/Footer.astro'
import Background from '@/components/layout/Background.astro'

import { ViewTransitions } from 'astro:transitions'

interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <slot name="head" />
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content="Revista Legein" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      window.getThemePreference = () => {
        const localItem =
          typeof localStorage !== 'undefined' && localStorage.getItem('theme')
        if (localItem) return localItem
        return window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light'
      }
    </script>
  </head>
  <body class="text-gray-800 dark:text-gray-200 flex flex-col min-h-screen">
    <Background transition:persist />

    <Navbar transition:persist />
    <main class="flex-grow"><slot /></main>

    <Footer class="flex-grow-0" />

    <style is:global>
      @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
      :root {
        color-scheme: light dark;
      }
      * {
        min-width: 0;
        font: inherit;
      }
      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }
      ::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
      }

      ::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: gray;
        border: 1px solid transparent;
        background-clip: content-box;
      }

      ::-webkit-scrollbar-track {
        background: transparent;
      }

      ::-webkit-scrollbar-corner {
        background: transparent;
      }

      html {
        scroll-behavior: smooth;
        overflow-x: hidden;
        overscroll-behavior: none;
      }
      body {
        font-family: 'Montserrat', sans-serif;
        background-color: rgba(255 255 255 0.1);
      }
      @media (prefers-color-scheme: dark) {
        body {
          background-color: rgb(23 23 23);
        }
      }

      img,
      video,
      svg {
        display: block;
        max-width: 100%;
        height: auto;
      }

      h1,
      h2 {
        text-wrap: balance;
      }
      p {
        text-wrap: pretty;
      }
    </style>
  </body>
</html>
